# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
mime_api

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# IDE
.idea/
*.iml

# OS
.DS_Store

# Environment
.env
.env.local